/* 4.1 */
.text-background p > span {
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

/* 4.2 */
.text-background div > span {
    background-color: yellow;
}
.square-marker {
    list-style-type: square; /* Змінює тип маркера на квадрат */
}

/* 4.3 */
span > span {
    color: gray;
    text-decoration: line-through;
}
/* 4.5 */
section > p {
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    text-indent: 50px;
}
div ul ul {
    list-style-type: none; /* Прибирає маркери у вкладених списках */
}

.icon-marker {
    list-style-image: url('li.svg'); /* Використовує піктограму замість маркера */
}

/* 4.7 */
div > .text-background {
    word-spacing: 50px;
}

/* 4.8 */
.text-bold > p {
    font-weight: bold;
}

/* 4.9 */
.bold > section > p {
    line-height: 45px;
}

/* 4.10 */
img + p {
    background-color: brown;
}

/* 4.11 */
section ~ p {
    color: red;
}
