body {
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background-color: mediumpurple; /* Темно-зелений фон для заголовка */
    color: white;
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid black;
}

main {
    padding: 20px;
    background-color: snow; /* Білий фон для основного контенту */
    max-width: 900px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 8px;
}




h1 {

    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Тінь для тексту */
}

h2 {

    color: darkred;
    margin-top: 20px;
    text-transform: uppercase;
    border-bottom: 2px solid black;
}


p {

    color: black;
    margin-bottom: 20px;
}


ul {
    padding-left: 20px;
}




section.block {
    margin-bottom: 40px;
    padding: 20px;
    background-color: mediumpurple; /* Світло-зелений фон для блоків */
    border-left: 5px solid darkred; /* Зелена рамка зліва */
    border-radius: 5px;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 2px solid #ddd;
    border-radius: 10px;
}
